<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>About Word Counter</title>
  <meta name="description" content="About information">
  <meta name="author" content="Hireign">
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>

<body style="margin: 10pt 100pt 25pt 100pt; border:solid 1pt; padding: 10pt 25pt 20pt 25pt">
  <center>
    <h1><a style="text-decoration:none; color:darkblue" href="{% url 'home' %}">Word Counter</a> <a style="text-decoration:none; color:black" href="{% url 'about' %}"> &#9432</a></h1>
  </center>
  <h2>About Word Counter</h2>
  <div>
    <p> Hello! I am Hiren and I created this website while learning Django. For the sake of simplicity, it makes use of simple html code with inline css and Django template language. </p>
    <p> Hope you enjoyed it. Cheers! </p>
  </div>
</body>

</html>
