{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Homepage</title>
    <meta name="description" content="Homepage" />
    <meta name="author" content="Hireign" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <div class="wrapper">
      <div class="title">
        <h1>Word Counter</h1>
        <span>More Accurate than the Google Top 10's</span>
      </div>
      <div class="counter">
        <div class="input_area">
          <form action="{% url 'home' %}">
            <textarea
              id="text"
              name="full_text"
              placeholder="Type or paste"
              spellcheck="false"
            >
{{full_text}}</textarea
            >
            <div class="div-btn">
              <input id="btn-count" type="submit" value="Count!" />
            </div>
          </form>
        </div>
        <div class="stats">
          <div class="stat_item">
            <span>CHARACTERS</span>
            <p id="all_total">{{all_total}}</p>
          </div>
          <div class="stat_item">
            <span>WORDS</span>
            <p id="words_total">{{words_total}}</p>
          </div>
          <div class="stat_item">
            <span>WITHOUT WHITE SPACES</span>
            <p id="char_total">{{char_total}}</p>
          </div>
          <div class="stat_item">
            <span>SENTENCES</span>
            <p id="sentences">{{sentences}}</p>
          </div>
          <div class="stat_item">
            <span>PARAGRAPHS</span>
            <p id="paragraphs">{{paragraphs}}</p>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="copyright"><p>© Word Counter by Hiren Khant, 2021</p></div>
      </div>
    </div>
  </body>
</html>
